<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>

    <script src='/src/shared/js/bridge/client.js' defer></script>
    <script src='/src/shared/js/bridge/service.js' defer></script>
    <script src='/src/services/services.js' defer></script>

    <link rel='stylesheet' href='/src/shared/style/layout.css'>
    <link rel='stylesheet' href='style/popups.css'>
    <link rel='stylesheet' href='style/overlink.css'>
    <link rel='stylesheet' href='style/tooltip.css'>

    <script data-main='js/startup' src='/src/shared/js/lib/require.js' defer></script>
  </head>

  <body>
  </body>
</html>
