<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>

    <script src="/src/shared/js/bridge/client.js" defer></script>
    <script src="/src/services/services.js" defer></script>

    <script data-main='js/startup' src='/src/shared/js/lib/require.js' defer></script>

    <link rel="stylesheet" href="style/main.css">
  </head>

  <body>
    <div id="content">
      <ul id="results" class="results"></ul>
      <div id="engines">
        <span id="engines-container"></span>
      </div>
    </div>
  </body>
</html>
