html, body, browser-element, iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  font-size: 10px;
}

browser-element[selected] {
  z-index: 1;
}
